.clangd
*.o
*.a
*.d
*.exe
*.gba

build/
lib/
deprecated/
hack/
snap/
test/
translate/
tranz/

*.bin
*.txt
*.zip
*.rar
*.7z
*.sav
*.sgm
*.bmp
*.png
*.json
*.ttf
*.eps
*.sna
*.bak

*/_*